/** Form Style ***/
.formHolder {
	width: 100%;
	background: #FFF;
	border-top: 10px solid $second-color;
	border-bottom: 10px solid $second-color;
	}

form {
	max-width: 650px;
	margin: 25px auto;
	color: $second-color;
}

form input,
div.wpforms-container-full .wpforms-form input:focus, div.wpforms-container-full .wpforms-form textarea:focus, div.wpforms-container-full .wpforms-form select:focus {
  border: 1px solid $second-color !important;
  outline: none;
	color: $second-color;
	padding: 8px;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-weight: 200;
	width: 80%;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
	border: 1px solid $second-color !important;
}

form label {
	 border:none;
	 color: $second-color;
	 font-weight: 200;
 }

form input::placeholder {
	color: $second-color;
}

textarea {
	border:1px solid $second-color;
	width:80%;
	padding: 4px;
	font-size:1.2em;
	color: $second-color;
	font-weight:200;
	margin-top: 20px;
	background:rgba(255,255,255, 0.8);
	height: 140px;
}

div.wpforms-container-full .wpforms-form button[type=submit] {
	background-color:$second-color !important;
	width: 250px;
	font-size:1em;
	color:#FFF !important;
	padding:12px;
	border-radius:3%;
}

div.wpforms-container-full .wpforms-form button[type=submit]:hover,
div.wpforms-container-full .wpforms-form button[type=submit]:active {
	color:$second-color !important;
	border: 1px solid $second-color !important;
	background-color:#FFF !important;
}
//** after submission ***//
.wpforms-confirmation-container-full {
	background: transparent !important;
	border:none !important;
	text-align: center;
	margin: 50px 0 !important;
}
