/** Form Style ***/
.formHolder {
	width: 100%;
	background: darkslategrey;
	}

form {
	max-width: 650px;
	margin: 25px 0;
	color: $second-color;
}

form input {
	border: none;
  background: transparent;
  border-bottom: 1px solid $second-color;
  outline: none;
	color: $second-color;
	padding: 8px;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-weight: 200;
	width: 80%;
}

 form label {
	 border:none;
	 color: $second-color;
	 font-weight: 200;
 }

form input::placeholder {
	color: $second-color;
}

textarea {
	border:1px solid $second-color;
	width:80%;
	padding: 4px;
	font-size:1.2em;
	color: $second-color;
	font-weight:200;
	margin-top: 20px;
	background:rgba(255,255,255, 0.8);
	height: 140px;
}

input[type="submit"] {
	background-color:$second-color;
	width: 250px;
	font-size:1em;
	color:#FFF;
	padding:12px;

	border-radius:3%;
}
