.homeWrapper {
	width: 90%;
	margin:0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  color: #FFF;
}
/** HP Options  **/
.hpOptions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 150px;
	text-align: center;
	color: #ff463b;
	font-weight: 400;
	margin:60px 0;
}

.hpOptions i {
	background: #ff463b;
	border-radius: 100%;
	border: 4px solid #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
	color: #FFF;
	font-size: 3.5em;
	height: 60px;
	padding: 30px;
	text-align: center;
	transition: .5s;
	vertical-align: middle;
	width: 60px;
}

/* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
			.homeWrapper {
				width: 80%;
				max-width: 920px;
			  grid-template-columns: 80% 20%;
			}

			.hpForm{
				grid-column: 1 / span 2;
			}

    }
