.homeWrapper {
	width: 100%;
	margin:0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  color: #FFF;
	max-width: 1200px;
}
/** HP Options  **/

.intro {
	display: grid;
	background: url(assets/images/wpRehab_bg.jpg) center center;
	background-size: cover;
	grid-template-columns: 1fr 1fr 60% 1fr;
  padding: 25px 0;
  margin-bottom: 40px;
  grid-gap: 20px;
	@include tablet {
		grid-template-columns: 1fr 1fr 40% 1fr;
		grid-template-rows:1fr 1fr;
	}
	@include desktop {
		grid-template-columns: 1fr 1fr 40% 1fr;
	}
}

.intro .box.a {
	grid-column-start: 2;
	@include tablet {
		grid-row-start: 1;
		grid-row-end: 3;
	}
	@include desktop {
		grid-row-start: 1;
		grid-row-end: 3;
	}

}
.intro .box.a img {
	height:260px;
	margin-top:-60px;
	@include tablet {
		height:350px;
		float:right;
		margin-right:40px;
	}
	@include desktop {
		height:350px;
		float:right;
		margin-right:40px;
	}
}

.intro .box.b {
	grid-column-start: 3;
	@include tablet {
		grid-row-end: 2
	}
	@include desktop {
		grid-row-end: 2
	}

}
.intro .box.c {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	@include tablet {
		grid-column-start: 3;
		grid-row-start:2
	}
	@include desktop {
		grid-column-start: 3;
		grid-row-start:2
	}
}

.entry-content {
	margin: 0 20px;
	@include tablet {
		margin:0 30px;
	}
	@include desktop{
		margin:0 10px;
	}
}
.hpOptions {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3.2em 1.3em;
	text-align: center;
	color: #ff463b;
	font-weight: 400;
	margin:60px 20px;
		@include tablet {
		grid-template-columns: 1fr 1fr;
		margin: 60px 30px;
	}
		@include desktop {
		grid-template-columns: 1fr 1fr 1fr;
		margin: 60px 10px;
	}
}

.hpOptions div	{
	text-align: center;
	background: #FFF;
	border: 4px solid #ff463b;
	box-shadow: 0 1px 4px rgba(0,0,0,.46);
	padding:12px;
}


.hpOptions i, .hpOptions .icon  {
	background: #ff463b;
	border: 4px solid #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
	color: #FFF;
	font-size: 3.5em;
	height: 60px;
	padding: 30px;
	text-align: center;
	transition: .5s;
	vertical-align: middle;
	width: 60px;
	margin-top:-50px;
}
/*** footer ***/
footer {
	height:180px;
	text-align:center;
}
#copyright {
	margin:20px 0;
	text-align: center;
}
