html, body {
	background: $base-color;
	font-family: $base-font;
}

h1, #branding h2 {
	color:#FFF;
  font-family: $base-font;;
  font-weight: 400;
  line-height: 1.2;
  font-size: 150%;
  margin: 0 0 23px 0;
	text-transform: none;
	text-shadow: 2px 2px 2px #000;
	@include tablet {
		font-size:180%;
	}
	@include desktop {
		font-size:200%;
	}
}
h2 {
    font-family: $base-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    }

h3 {
	font-weight: 600;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px #e3e3e3;
	margin:10px 0;
}

.intArtWrapper h1, h2, h3, h4 {
	font-weight: 700;
	color: $second-color;
}
.intArtWrapper h1 {
	text-shadow: 1px 1px 1px #000;
}
p {
    font-family: $base-font;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 23px 0;
		font-weight: 300
    }

#branding h1{
  background: transparent url(assets/images/wpRehab-header.png);
  background-size: contain;
  width: 280px;
  height: 118px;
  margin:10px auto;
  text-indent: -999em;
}

.intro a {
	background: #ff463b;
  border: 2px solid #fff;
	display: block;
  padding: 10px 0;
  color: #FFF;
  text-decoration: none;
	text-shadow: 1px 1px #000;
	text-align: center;
	font-size: 100%;
	width: 100%;
	@include tablet {
		font-size:1.2em;
	}
	@include desktop {
		font-size:1.2em;
		max-width:360px;
	}
}

.hpOptions a {
	color: $link-color;
	margin-bottom: 20px;
	text-transform: capitalize;
	font-weight: 400;
}
.intArtWrapper a {
	color: $second-color;
}

.formHolder p, .formHolder h1 {
	color: $second-color;
	text-align: center;
	margin-top:20px;
}

footer {
	font-size: .75em;
	color: #FFF;
	}


	footer a {
		color: $link-color;
	}
