html, body {
	background: #6fbbff;
	font-family: $base-font;
}

h1, #branding h2 {
	color:#FFF;
  font-family: $base-font;;
  font-weight: 300;
  line-height: 1.2;
  font-size: 150%;
  margin: 0 0 23px 0;
	text-transform: none;
	@include tablet {
		font-size:180%;
	}
	@include desktop {
		font-size:200%;
	}
}
h2 {
    font-family: $base-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    }
p {
    font-family: $base-font;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

#branding h1{
  background: transparent url(assets/images/wpRehab-header.png);
  background-size: contain;
  width: 280px;
  height: 118px;
  margin:10px auto;
  text-indent: -999em;
}

.intro a {
	background: #ff463b;
  border: 2px solid #fff;
	display: block;
  padding: 10px 0;
  color: #FFF;
  text-decoration: none;
	text-shadow: 1px 1px #000;
	text-align: center;
	font-size: 100%;
	width: 100%;

	@include tablet {
		font-size:1.2em;
	}
	@include desktop {
		font-size:1.2em;
	}
}
