html, body {
  background: #E6F3F7;
  font-family: "Cantarell", sans-serif; }

p {
  color: #ff463b;
  font-size: 1.3em; }

.heading {
  font-family: "Fjalla One", sans-serif; }
  .heading a {
    color: "blue"; }
    .heading a:visited {
      color: "red"; }
    .heading a:hover {
      color: "pink"; }
    .heading a:active {
      color: "purple"; }
