html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**** End Reset ****/
html, body {
  background: #6fbbff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, #branding h2 {
  color: #FFF;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 150%;
  margin: 0 0 23px 0;
  text-transform: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    h1, #branding h2 {
      font-size: 180%; } }
  @media (min-width: 1024px) {
    h1, #branding h2 {
      font-size: 200%; } }

h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  letter-spacing: -1px;
  margin: 0 0 23px 0; }

h3 {
  font-weight: 600;
  font-size: 1.1em;
  text-shadow: 1px 1px 1px #e3e3e3;
  margin: 10px 0; }

p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 23px;
  margin: 0 0 23px 0; }

#branding h1 {
  background: transparent url(assets/images/wpRehab-header.png);
  background-size: contain;
  width: 280px;
  height: 118px;
  margin: 10px auto;
  text-indent: -999em; }

.intro a {
  background: #ff463b;
  border: 2px solid #fff;
  display: block;
  padding: 10px 0;
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px 1px #000;
  text-align: center;
  font-size: 100%;
  width: 100%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro a {
      font-size: 1.2em; } }
  @media (min-width: 1024px) {
    .intro a {
      font-size: 1.2em;
      max-width: 360px; } }

.homeWrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  color: #FFF;
  max-width: 1200px; }

/** HP Options  **/
.intro {
  display: grid;
  background: url(assets/images/wpRehab_bg.jpg) center center;
  background-size: cover;
  grid-template-columns: 1fr 1fr 60% 1fr;
  padding: 25px 0;
  margin-bottom: 40px;
  grid-gap: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro {
      grid-template-columns: 1fr 1fr 40% 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 1024px) {
    .intro {
      grid-template-columns: 1fr 1fr 40% 1fr; } }

.intro .box.a {
  grid-column-start: 2; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro .box.a {
      grid-row-start: 1;
      grid-row-end: 3; } }
  @media (min-width: 1024px) {
    .intro .box.a {
      grid-row-start: 1;
      grid-row-end: 3; } }

.intro .box.a img {
  height: 260px;
  margin-top: -60px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro .box.a img {
      height: 350px;
      float: right;
      margin-right: 40px; } }
  @media (min-width: 1024px) {
    .intro .box.a img {
      height: 350px;
      float: right;
      margin-right: 40px; } }

.intro .box.b {
  grid-column-start: 3; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro .box.b {
      grid-row-end: 2; } }
  @media (min-width: 1024px) {
    .intro .box.b {
      grid-row-end: 2; } }

.intro .box.c {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro .box.c {
      grid-column-start: 3;
      grid-row-start: 2; } }
  @media (min-width: 1024px) {
    .intro .box.c {
      grid-column-start: 3;
      grid-row-start: 2; } }

.entry-content {
  margin: 0 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .entry-content {
      margin: 0 30px; } }
  @media (min-width: 1024px) {
    .entry-content {
      margin: 0 10px; } }

.hpOptions {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3.2em 1.3em;
  text-align: center;
  color: #ff463b;
  font-weight: 400;
  margin: 60px 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .hpOptions {
      grid-template-columns: 1fr 1fr;
      margin: 60px 30px; } }
  @media (min-width: 1024px) {
    .hpOptions {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 60px 10px; } }

.hpOptions div {
  text-align: center;
  background: #FFF;
  border: 4px solid #ff463b;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
  padding: 12px; }

.hpOptions i, .hpOptions .icon {
  background: #ff463b;
  border: 4px solid #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
  color: #FFF;
  font-size: 3.5em;
  height: 60px;
  padding: 30px;
  text-align: center;
  transition: .5s;
  vertical-align: middle;
  width: 60px;
  margin-top: -50px; }

/*** footer ***/
footer {
  height: 180px;
  text-align: center; }

#copyright {
  margin: 20px 0;
  text-align: center; }

/** Form Style ***/
.formHolder {
  width: 100%;
  background: #FFF;
  border-top: 10px solid #ff463b;
  border-bottom: 10px solid #ff463b; }

form {
  max-width: 650px;
  margin: 25px auto;
  color: #ff463b; }

form input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #ff463b;
  outline: none;
  color: #ff463b;
  padding: 8px;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 200;
  width: 80%; }

form label {
  border: none;
  color: #ff463b;
  font-weight: 200; }

form input::placeholder {
  color: #ff463b; }

textarea {
  border: 1px solid #ff463b;
  width: 80%;
  padding: 4px;
  font-size: 1.2em;
  color: #ff463b;
  font-weight: 200;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
  height: 140px; }

input[type="submit"] {
  background-color: #ff463b;
  width: 250px;
  font-size: 1em;
  color: #FFF;
  padding: 12px;
  border-radius: 3%; }
