.home-contact {
    background-image: url(../images/working-entry-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: -40px;

    &__overlay {
        background-color: rgba($secondaryBackground, .75);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;;
    }

    &__content {
        z-index: 20;
        position: relative;
        padding: 3rem 0;
        max-width: 468px;
        
    }

    &__title {
        text-align: center;
        color: $mainBackground;
        margin-bottom: 20px;
    }

    &__form-wrap{
        margin: 0 auto;
        height: 560px;
        @mixin atMedium {
            height: 490px;
        }
        
        
        & label {
            color: $mainBackground;
            font-size: 1.25rem;
        }
        & #hs-form-iframe-0 {
            width: 468px !important;
            margin-left: .125rem;
        }
    }
}
