.nav-header{    
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba($mainWhite, .85);
    height: 100vh;
    width: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;

    @mixin atMedium {
        z-index: 1;
        width: auto;
        top: 50%;
        right: 10px;
        height: auto;
        background-color: transparent;
      }
  
      &--is-visible {
        width: 40vw;
      }

    ul {
        margin: 0;
        padding: 1.5em;
        @mixin clearfix;

        @mixin atMedium {
            padding:0;
        }
    }

    li{
        list-style-type: none;
        padding-top: 2rem;

        
        @mixin atMedium {
            float: left;
            padding-right: 20px;
            padding-top: 0;
          }
        
    }

    a { 
        color: $mainBlack;
        text-decoration: none;
        font-size: 1.125rem;
        transform: translate3d(-150px, 0, 0);
        transition: transform .15s ease-in;
        display: block;
        
        @mixin atMedium {
            color: $mainWhite;
            display: inline;
        }
    }

    &--is-visible a { 
        transform: translate3d(0, 0, 0);
        transition: transform 300ms ease-out;
    }
    
    &--is-visible li:first-child a {
        transition-delay: .1s; 
    }
    &--is-visible li:nth-child(2) a {
        transition-delay: .2s; 
    }
    &--is-visible li::nth-child(3) a {
        transition-delay: .3s; 
    }
    &--is-visible li:last-child a {
        transition-delay: .4s; 
    }
   
}

.site-header__menu-icon--is-active::before,
.site-header__menu-icon--is-active .site-header__menu-icon__middle,
.site-header__menu-icon--is-active::after {
    background-color: $mainBlack;
}
    